.container {
    height: 60vh;
    margin-top: 8em;
    margin-left: 8em;
    background: url(/images/background.svg) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4em;

    @media (max-width: 480px) {
        margin-left: 2em;
    }
}

.heading {
    font-size: 3.6rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 0;
}

.text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

.buttonContainer {
    width: fit-content;
    margin-top: 4em;
}