.kickoff {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4px;
  color: var(--grey300);
  border-top: 1px solid var(--whiteOpacity33);

  font-size: 0.9rem;
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
  @media (max-width: 480px) {
    font-size: 0.55rem;
  }
  @media (max-width: 375px) {
    font-size: 0.45rem;
  }
}

.locked {
  color: var(--grey500);
}

.topRow {
  border-top: none;
}
