.container {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 4em;
  background-color: var(--blackblue400);
  border-radius: 1em;

  @media (max-width: 768px) {
    gap: 3em;
    padding: 3em 2em;
  }

  @media (max-width: 480px) {
    border-radius: 0;
  }
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.stat {
  flex: 1 1 0px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8em;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.statPerc {
  font-size: 2.2rem;
  line-height: 2.2rem;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

@keyframes skeletonLoading {
  0% {
      background-position: -800px 0
  }
  100% {
      background-position: 800px 0;
  }
}

.loading {
  height: 40px;
  border-radius: 5px;
  animation: skeletonLoading 1s linear infinite forwards;
  background: linear-gradient(
      to right,
      var(--blackblue400) 4%,
      var(--grey700) 25%,
      var(--blackblue400) 36%
    )
    0% 0% / 1500px 100%;
}