.container {
    margin-top: 6em;
    padding: 1em 4em 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--blackblue400);
    border-radius: 1em;

    @media (max-width: 768px) {
        margin-top: 4em;
        padding: 2em;
    }

    @media (max-width: 480px) {
        margin-top: 2em;
        padding: 2em 1em;
        border-radius: 0;
    }
}