:root {
  --white: hsl(0, 0%, 100%);
  --whiteOpacity33: #ffffff33;

  --grey100: hsl(0, 0%, 98%);
  --grey200: hsl(0, 0%, 93%);
  --grey300: hsl(0, 0%, 84%);
  --grey400: hsl(0, 0%, 77%);
  --grey500: hsl(0, 0%, 59%);
  --grey600: hsl(0, 0%, 46%);
  --grey700: hsl(0, 0%, 26%);
  --grey500opacity50: hsla(0, 0%, 59%, 0.502);

  --black100: hsl(0, 0%, 18%);
  --black700: hsl(0, 0%, 7%);
  --black: hsl(0, 0%, 0%);

  --cyan100: hsl(174, 24%, 56%);
  --cyan200: hsl(174, 25%, 53%);
  --cyan300: hsl(174, 26%, 49%);
  --cyan500: hsl(174, 54%, 36%);
  --cyan600: hsl(174, 54%, 26%);

  --blackblue200: hsl(210, 24%, 16%);
  --blackblue300: hsl(212, 27%, 14%);
  --blackblue300opacity80: hsl(212, 27%, 14%, 0.8);
  --blackblue400: hsl(212, 28%, 12%);
  --blackblue400opacity50: hsla(212, 28%, 12%, 0.5);
  --blackblue450: hsl(208, 29%, 10%);
  --blackblue500: hsl(208, 29%, 8%);
  --blackblue600: hsl(207, 44%, 5%);

  --green300: hsl(120, 30%, 46%);;
  --green500: hsl(121, 94%, 20%);

  --gold300: hsl(52, 94%, 37%);
  --gold500: hsl(52, 92%, 20%);

  --red300: hsl(0, 30%, 54%);
  --red500: hsl(0, 92%, 24%);
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: var(--grey100);
  min-height: 100vh;
  background-color: var(--blackblue500);
}

table {
  border-collapse: collapse;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

h1, h2, h3, h4 ,h5, h6 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 1em 0;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

h2 {
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 1.6rem;

  @media (max-width: 480px) {
    font-size: 1.3rem;
  }
}

h3 { 
  font-size: 1.4rem;
  
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}