.container {
  display: grid;
  grid-template-columns: [stack] 1fr;
}

.innerContainer {
  max-width: calc(970px - 3.2em);
  margin: 0 auto;
  padding-bottom: 6em;
  
  @media (max-width: 970px) {
    margin: 0 1.6em;
  }
  
  @media (max-width: 480px) {
    margin: 0;
  }
}

.mainContent {
  grid-area: stack;
}

.sidebarContainer  {
  grid-area: stack;
  visibility: hidden;
  /* transform: translateY(-110vw);
  will-change: transform;
  transition: transform 0.6s cubic-bezier(0.16, 0.1, 0.3, 1),
    visibility 0s linear 0.6s; */
}
.sidebarContainer.sidebar {
  visibility: visible;
}

/* 
@keyframes slidein {
  from { top: -3em; }
  to   { top: 0; }
}

@keyframes slideout {
  from { top: 0em; }
  to   { top: -3em; }
}

@keyframes pulse {
  from { color: var(--grey400) }
  to { color: var(--white) }
}

.loadingBanner {
  background-color: var(--cyan500);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 3em;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideout 0.5s 0.5s linear forwards;
}
.loadingBanner.showBanner {
  animation: slidein 0s linear forwards;
}

.loadingBannerText {
    font-size: 1rem;
    animation: pulse 1s infinite alternate;
    color: var(--white);
    margin: 0;
    z-index: 2;
} */
