.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--grey200);
  background-color: inherit;
  padding-left: 0.4em;
  padding-right: 1em;
  border-top: 1px solid var(--whiteOpacity33);

  font-size: 1.1rem;
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
  @media (max-width: 480px) {
    font-size: 0.75rem;
    padding-right: 0.5em;
  }
  @media (max-width: 375px) {
    font-size: 0.65rem;
  }
}
.container.locked {
  color: var(--grey500);
}
.container.topRow {
  border-top: none;
}

.label {
  text-align: right;
}

.chips {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}