.table {
    display: flex;
    font-size: 1.5rem;
    max-width: calc(100vw - 2em);

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.participantsAndTotalPoints {
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: 82px repeat(auto-fill, 72px);
    color: var(--grey200);
    border-bottom: 1px solid var(--grey500opacity50);

    @media (max-width: 768px) {
        grid-template-columns: 1fr 3.4em;
        grid-template-rows: 56px repeat(auto-fill, 50px);
    }
}

.allPoints {
    color: var(--grey200);
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    width: 100%;
}

.allPointsHeader {
    grid-column: 1 / -1;
    display: flex;
    height: 59px;

    @media (max-width: 768px) {
        height: 38px;
    }
}

.allPointsData {
    grid-column: 1 / -1;
    display: flex;
    height: 70px;

    @media (max-width: 768px) {
        height: 50px;
    }
}

.headerItemBlank {
    grid-column: span 2 / span 2;
    border: none;
    border-bottom: 1px solid var(--grey500opacity50);
}

.participant {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    padding: 0 1em;
    font-size: 1.6rem;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;

    @media (max-width: 768px) {
        font-size: 1rem;
        padding: 0 0.8em;
    }
}

.participant:hover,
.participant:focus {
    color: var(--cyan100);
}

.totalPoints {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--grey500opacity50);
    font-size: 2rem;

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.allPointsWrapper {
    flex-grow: 1;
    transform: rotateX(180deg);
    /* Safari and Chrome */
    -webkit-transform: rotateX(180deg);
    overflow-x: scroll;
    border: 1px solid var(--grey500opacity50);
    /* equiv to padding-top without the transform */
    padding-bottom: 11px;

    @media (max-width: 768px) {
        /* equiv to padding-top without the transform */
        padding-bottom: 6px;
    }
}

.allPointsWrapper::-webkit-scrollbar {
    height: 12px;

    @media (max-width: 768px) {
        height: 8px;
    }
}

.allPointsWrapper::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--cyan600);
}

.allPointsWrapper::-webkit-scrollbar-track {
    /* Background */
    background: none;
}

.allPointsWrapper::-webkit-scrollbar-thumb {
    border-radius: 1em;
}

.blankTableHeaderItem {
    border-bottom: 1px solid var(--grey500opacity50);
}

.headerData {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid var(--grey500opacity50);
    align-items: flex-start !important;
    flex: 0 0 70px;

    @media (max-width: 768px) {
        flex: 0 0 44px;
    }
}

.headerDataBlank {
    border-bottom: 1px solid var(--grey500opacity50);
    flex: 0 0 20px;

    @media (max-width: 768px) {
        flex: 0 0 12px;
    }
}

.tableData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 70px;

    @media (max-width: 768px) {
        flex: 0 0 44px;
    }
}

.tableDataBlank {
    flex: 0 0 20px;

    @media (max-width: 768px) {
        flex: 0 0 12px;
    }
}

.clickableRowHeading {
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--grey300);
}

.clickableRowHeading:hover,
.clickableRowHeading:focus {
    color: var(--cyan100);
}

.weekText {
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.8rem;

    @media (max-width: 768px) {
        font-size: 0.5rem;
        line-height: 0.5rem;
    }
}

.weekNumber {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;

    @media (max-width: 768px) {
        font-size: 0.9rem;
        line-height: 1.1rem;
        text-underline-offset: 2px;
    }
}

.weekNumber:hover,
.weekNumber:focus {
    color: var(--cyan100);
}