.kickoff {
  flex-basis: 8em;
  text-align: center;
  align-self: center;
  color: var(--grey400);
  font-size: 0.8rem;
  letter-spacing: -0.02rem;
  
  @media (max-width: 480px) {
    font-size: 0.7rem;
  }
}