.input {
  height: 2.4em;
  width: 12em;
  background-color: var(--grey200);
  color: var(--black100);
  border-radius: 0.2em;
  font-size: 1.2rem;
  border: 0;
  padding-left: 1em;
}

.input::placeholder {
  color: var(--grey500);
}

.input:hover,
.input:focus {
  height: 2.2em;
  width: 12em;
  outline: none;
  border: 0.1em solid var(--grey300);
  padding-left: 0.9em;
}