.link {
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
    margin-top: 1em;

    @media (max-width: 600px) {
        font-size: 0.8rem;
    }
}

.link:hover,
.link:focus {
    color: var(--cyan200);
}